<html>
  <head>
    <title>Ohm Tracker</title>
  </head>
  <body>
    <table>
      <tr><th>DAO Name</th><th>Token name</th><th>Quantity</th><th>Number of identical balances</th><th>DAO chain</th><th>Token chain</th></tr>
    {% for balance in object_list %}
    <tr><td>{{ balance.dao.name }}</td>
      <td>{{ balance.token.name }}</td>
      <td {% if balance.quantityMissing %}bgcolor="red"{% endif %}>{{ balance.quantity }}</td>
      <td {% if balance.hasDuplicates %}bgcolor="red"{% endif %}>{{ balance.identicalEntryCount }}</td>
      <td>{{ balance.dao.token.chain }}</td>
      <td>{{ balance.token.chain }}</td>
</tr>
    {% endfor %}
    </table>
  </body>
</html>
