<html>
  <head>
    <title>{% block title %}Ohm Tracker{% endblock %}</title>
    <link
  rel="me"
  href="https://twitter.com/Ohmtracker" />
    <script type = "text/javascript"
         src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style type="text/css">
      .container {width: 100%}
      th {text-align: center}
    </style>
    {% block customheader %}{% endblock %}
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
  return t;
}(document, "script", "twitter-wjs"));</script>
  </head>
  <body class="blue-grey lighten-5">
    <div class="container">
      {% block content %}
      {% endblock %}
      <div class="row">
        <div class="col s12 l6">
          <div class="card"><div class="card-content">
              <span class="card-title">Glossary</span>
              <p><b>NCAV</b> stands for Net Current Asset Value. Here, it refers to the total dollar value of all assets in the DAO treasury.</p>
              <p><b>P/NCAV</b> is the DAO market cap divided by the DAO NCAV. If the market value of the DAO is exactly equal to the value of the DAO assets, this value will be 1. If the market value exceeds the total asset value, this value will be greater than one. If the market value is less than the value of the DAO's assets, this value will be less than one.</p>
          </div></div>
          <div class="card"><div class="card-content">
    <p>Pie charts show assets broken down by estimated dollar value.</p>
    <p>This website is intended as a reference resource. The projects listed have not been vetted and are not endorsed in any way.</p>
          </div></div>
          
      <div align="center"><a class="twitter-follow-button" href="https://twitter.com/Ohmtracker" data-size="large"> Follow @OhmTracker on Twitter</a></div>
        </div>
        <div class="col s12 l6">
<div class="card"><div class="card-content">
              <p>You can <a href="https://www.linkedin.com/in/william-tracy-6149989/">hire me</a>!</p>
              Ohm Tracker is powered by <a href="https://etherscan.io/">Etherscan</a>, <a href="https://polygonscan.com/">Polygonscan</a>, and <a href="https://www.coingecko.com/en">Coingecko</a> APIs.
            </div></div>
          <div class="card"><div class="card-content">
              <span class="card-title">Which DAOs should I add next?</span>
              <p>To vote for Polygon DAOs (Blob DAO, Vesq, Atlas USV, Nidhi DAO) donate to:</p>
              <blockquote>0x112b09Dd18B879Df7e9487943aA4c814c6B9DaC3</blockquote>
              <p>To vote for Avalanche DAOs (Wonderland, MidasDAO, TornaDAO, Everest DAO, Galaxy Goggle DAO, Cake DAO, O2 DAO, DeepSeaDAO, Ice DAO, Vikings Finance, FortressDAO, PiggyBank, Fiscus DAO, TempoDAO) donate to:</p>
              <blockquote>0xad5242094a443D102344ec3eA7f37DF84ba741D2</blockquote>
              <p>I monitor these addresses on the Ethereum and Polygon chains. If you want to donate through another chain, <a href="https://twitter.com/Ohmtracker">tweet at me</a> and let me know!</p>
              <p>Your patronage is appreciated!</p>
          </div></div>
        </div>
      </div>
    </div>
  </body>
</html>
