{% extends "base.html" %}
{% block customheader %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script type="text/javascript">
      $(document).ready(function() {
        dao = "{{ object.name }}";
        const request = '/dao/json/' + dao;

        $.getJSON(
          request,
          function(data) {
            const config = {
              type: 'pie',
              data: data,
            };
            const chart = new Chart(
              $("#piechart"),
              config);
          }
        );
      });
    </script>
    {% endblock %}
    {% block content %}
    <h1><a href="/">&larrhk;</a> {{ object.name }}</h1>
    <div class="row">
      <div class="col s12 m6">
        <canvas id="piechart"></canvas>
      </div>
      <div class="col s12 m6">
        <ul class="collection">
          <li class="collection-item"><b>Token:</b> <a href="{{ object.token.referenceUrl }}">{{ object.token }}</a></li>
          {% if object.website != None %}
          <li class="collection-item"><a href="{{ object.website }}">Project website</a></li>
          {% endif %}
          <li class="collection-item"><b>Token price:</b> ${{ object.token.price | floatformat:2 }}</li>
          <li class="collection-item"><b>Market cap:</b> ${{ object.token.market_cap | floatformat:2 }}</li>
          <li class="collection-item"><b>Treasury value:</b> ${{ object.netCurrentAssetValue | floatformat:2 }}</li>
          <li class="collection-item"><b>Treasury address:</b>
            <a href="{{ object.treasuryUrl }}">
              {{ object.treasury }}</a>
          </li>
        </ul>
        <table class="highlight">
          <tr><th>Token</th><th>Quantity</th><th>Value locked</th></tr>
          {% for balance in balances %}
          <tr><td><a href="{{ balance.token.referenceUrl }}">{{ balance.token.name }}</a></td>
            <td style="text-align: right">{{ balance.quantity | floatformat:4 }}</td>
            <td style="text-align: right">${{ balance.value_locked | floatformat:2 }}</td></tr>
          {% endfor %}
        </table>
      </div>
    </div>
    {% endblock %}
