{% extends "base.html" %}
    {% block content %}
        <h1 align="center">Ohm Tracker</h1>
      <div class="row">
        <div class="col s12 xl6">
        <table class="highlight">
      <tr><th>Name</th><th>Market cap</th><th>NCAV</th><th>P/NCAV</th><th>Chain</th></tr>
    {% for dao in object_list %}
    <tr>
      <td><a href="/dao/{{ dao.name }}">{{ dao.name }}</a></td>
      <td style="text-align: right">${{ dao.token.market_cap | floatformat:2}}</td>
      <td style="text-align: right">${{ dao.netCurrentAssetValue | floatformat:2}}</td>
      <td style="text-align: right">{{ dao.priceToNetCurrentAssetValue | floatformat:4}}</td>
      <td>{{ dao.token.chain }}</td>
    </tr>
    {% endfor %}
    </table>
      </div>
      <div class="col s12 xl6">
        <div id="patter"><p>In March 2021, Olympus DAO arrived in the world of decentralized finance like a hurricane. This decentralized autonomous organization issued the Ohm token, backed by the DAO's treasury.</p>
          <p>Olympus's treasury contains a mix of stablecoins and revenue-producing assets. This revenue is distributed to holders via rebasing. Ohm holders who stake their tokens receive additional tokens at five-day intervals.</p>
          <p>This process is widely misunderstood: Many see the extremely high yields associated with rebasing, and quite reasonably assume that the project is some form of Ponzi scheme. Others naively expect to earn a real return equivalent to the posted APYs.</p>
          <p>The real situation is more complicated: Olympus DAO has a target asset quantity that it wants to hold for each Ohm token in circulation. As long as the treasury exceeds the target quantity for all issued tokens, Olympus rebases the Ohm token to bring the Ohm supply in line with the treasury size. Think of it like a stock split.</p>
          <p>Throughout its existence, Olympus DAO has maintained a treasury that exceeds its target many times over. Even though Olympus has been rebasing quite rapidly, new assets have been entering the treasury (via yield on existing assets as well as a process called bonding) at a rate that keeps up with the rebases. No one knows if or when this situation will change.</p>
          <p>The constant rapid increase of the token supply makes it difficult to calculate the real return of an investment in Ohm. Neither the price action nor the rebase rate by itself is enough to give you insight into the asset's performance.</p>
          <p>I believe that the most important numbers to consider for Ohm (and its many clones) are the total market cap, and the DAO's treasury balance.</p>
          <p>Your share of the Ohm's market cap will remain roughly constant through rebases. (Bonding will dilute your share over time, so this is not exact.) If Ohm's market cap changes, you can expect the real value of your staked assets to change by a similar amount.</p>
          <p>Understanding the treasury makeup of Olympus DAO and clones is absolutely crucial. These are the assets that you are actually investing in when you purchase Ohm. You should ensure that these are assets that you are bullish on. You should also ensure that the premium you are paying over investing in these assets directly makes sense!</p>
          <p>This website is a tool to see these treasury balances at a glance. You can see market caps and treasury values (NCAV) in the table on the left. Click on a DAO name to see the assets in that treasury broken down by dollar value.</p>
          <p>Happy investing!</p>
        </div>
      </div>
    {% endblock %}
