<html>
  <head>
    <title>Ohm Tracker</title>
  </head>
  <body>
    <table>
      <tr><th>Pool Name</th><th>Number of pool entries</th></tr>
    {% for token in object_list %}
    <tr><td>{{ token.name }}</td>
      <td {% if token.memberCountWrong %}bgcolor="red"{% endif %}>{{ token.poolMembers }}</td>
    {% endfor %}
    </table>
  </body>
</html>
