<html>
  <head>
    <title>Ohm Tracker</title>
  </head>
  <body>
    <table>
      <tr><th>Pool</th><th>Pool Member</th> <th>Quantity</th>
        <th>Number of duplicate pool entries</th><th>Pool token chain</th><th>Member chain</th></tr>
    {% for member in object_list %}
    <tr>
      <td>{{ member.pool_token }}</td>
      <td>{{ member }}</td>
      <td {% if member.quantityMissing %}bgcolor="red"{% endif %}>{{ member.quantity }}</td>
      <td {% if member.hasDuplicates %}bgcolor="red"{% endif %}>{{ member.identicalEntryCount }}</td>
      <td>{{ member.pool_token.chain }}</td>
      <td>{{ member.member.chain }}</td>
    {% endfor %}
    </table>
  </body>
</html>
