<html>
  <head>
    <title>Ohm Tracker</title>
  </head>
  <body>
    <table>
      <tr><th>Token Name</th><th>Token ID</th><th>Token Address</th><th>Number of treasury entries</th><th>Tokens sharing this address</th><th>Token Price</th><th>Market Cap</th></tr>
    {% for token in object_list %}
    <tr><td>{{ token.name }}</td>
      <td {% if token.tid == None %}bgcolor="red"{% endif %}>{{ token.tid }}</td>
      <td>{{ token.address }}</td>
      <td {% if token.absentFromTreasuries %}bgcolor="yellow"{% endif %}>{{ token.treasuryEntries }}</td>
      <td {% if token.sharesAddress %}bgcolor="red"{% endif %}>{{ token.tokensSharingAddress }}</td>
      <td {% if token.priceMissing %}bgcolor="red"{% endif %}>{{ token.price }}</td>
      <td {% if token.marketCapMissing %}bgcolor="red"{% endif %}>{{ token.market_cap }}</td>
    </tr>
    {% endfor %}
    </table>
  </body>
</html>
